# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directory
node_modules/

# Build files
/dist/main.js

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Include OBJ files
!*.obj

# Experimental BLEND files
*.blend
*.blend1
